.rotation>p{
	font-weight: bold;
	color: #ffffff;
	font-family: 'Ubuntu', sans-serif;
	padding-top: 100px;
	margin-left: 50px;
	text-align:left;
}

.winrate>p{
	font-weight: bold;
	color: #ffffff;
	font-family: 'Ubuntu', sans-serif;
	padding-top: 100px;
	margin-left: 50px;
	text-align:left;
}

.rotation{
	color:#ffffff;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	margin: 0 20% 0 20%;
}

.rotation #fire img{
		border-width: 3px;
		border-color: #fa058c;
		border-style: solid;
}
